@import "colors"

@media screen and (max-width: 992px){
        @content;
}


nav{
    z-index:100;

    &_navbar-nav{
        background-color:$green2
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;   

    }
}